body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.mg-bottom-5 { margin-bottom: 5px; }
.pd-right-0 { padding-right: 0; }
.pd-left-0 { padding-left: 0; }
.pd-left-2 { padding-left: 2px; }

#inputChat {
 	height: 500px;
	border: 2px solid #D9D9D9;
	margin: 0 4px 4px 0; 
	padding: 2px; 
	background-color: #EEE; 
	height: 465px; 
	overflow-y: scroll; 
	overflow-x: hidden;
}
#inputChat p {
	margin-bottom: 0;
}

#usersInput {
  height: 465px;
}
.status { cursor: pointer; }
.statusDisable { color: #FFF; }
.statusHappy { color: #21c900; }
.statusSad { color: #ff0000; }
.statusUndef { color: #1025ee; }

.logBox {
  padding-top: 10px;
  text-align: right;
}

.usersBox {
	border: 2px solid #D9D9D9;
	margin: 0 4px 4px 0; 
	padding: 2px; 
	background-color: #FFF; 
	height: 465px; 
	overflow-y: scroll; 
	overflow-x: hidden;
}
.usersBox li {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.usersBox li:hover {
	background-color: #F1F1F1; 
}

.userLabel {
	font-size: 20px;
	font-weight: bold;
	margin-top: 100px;
}
.warn { color: red; }



