<!DOCTYPE html>
<html lang="en" data-ng-app='chatApp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chat</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/font-awesome.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/angular/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/controllers.js"></script>
    <script type="text/javascript" defer>
      $( document ).ready(function() {
          $('#userName').inputmask("Regex");
      });
    </script>
  </head>
  <body data-ng-controller='ChatCtrl'>


  <div class="container">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <h3>Users online: <span data-ng-bind="is_logged ? users.length + 1 : 0"></span></h3>
        </div>
        <div class="col-xs-3 col-md-3"></div>
        <div class="logBox col-xs-2 col-md-2 pd-right-0 form-group" data-ng-class="{'has-error': user_name_valid === false}">
          <span data-ng-hide="!is_logged" data-ng-bind="user_name" class="userLabel"></span>
          <input type="text" id="userName" class="form-control" placeholder="nickname" autofocus data-ng-model="user_name" data-inputmask-regex="[a-zA-Z]{3,10}" data-ng-hide="is_logged">
        </div>
        <div class="logBox col-xs-1 col-md-1 pd-left-2">
          <a href="" class="btn btn-primary" data-ng-click="logInOff();"><span data-ng-bind="is_logged ? 'Logoff' : 'Login'"></span></a>
        </div>
      </div>
      <div class="row mg-bottom-5">
        <div class="col-xs-2 col-md-2 pd-right-0">
        <div class="usersBox">
            <ul class="nav" data-ng-repeat="user in users">
              <li data-ng-click="getName(user.name);"><i data-ng-class="{'fa fa-smile-o statusHappy':user.status == 'happy', 'fa fa-frown-o statusSad':user.status == 'sad', 'fa fa-meh-o statusUndef':user.status == 'undef'}"></i> <span data-ng-bind="user.name"></span></li>
            </ul>
        </div>
          <i class="status fa fa-smile-o fa-2x" data-ng-click="setStatus('happy');" data-ng-class="{'statusHappy':user_status == 'happy'}"></i>
          <i class="status fa fa-frown-o fa-2x" data-ng-click="setStatus('sad');" data-ng-class="{'statusSad':user_status == 'sad'}"></i>
          <i class="status fa fa-meh-o fa-2x" data-ng-click="setStatus('undef');" data-ng-class="{'statusUndef':user_status == 'undef'}"></i>
        </div>
        <div class="col-xs-10 col-md-10 pd-left-0">
           <div class="form-control" id="inputChat"></div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-md-10 pd-right-0">
          <input type="text" id="inputText" class="form-control" data-ng-readonly="!is_logged">
        </div>
        <div class="col-xs-2 col-md-2">
          <a href="#" class="btn btn-primary btn-block" data-ng-click="send();">Send</a>
        </div>
      </div>
    </div>
  </div>
  
  </body>
</html>